* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Rubik', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
button:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Rubik-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Lato-ExtraBold.ttf') format('truetype');
}

.container {
  max-width: 1232px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  height: 78px;
  gap: 48px;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  height: 100%;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
.nav__item {
  height: 100%;
}
.nav__link {
  font-weight: 600;
  color: var(--gray);
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.nav__link:hover {
  color: var(--blue);
}
.nav__link:hover::after {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  position: absolute;
  background-color: var(--gray);
}

.nav__link--active {
  color: var(--blue);
}
.nav__link--active::after {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  position: absolute;
  background-color: var(--blue);
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--gray);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.nav__link--active::after {
  transform: scaleX(1);
  background-color: var(--blue);
}

.header__buttons {
  display: flex;
  height: 50px;
  gap: 16px;
  align-items: center;
}

.buttons__divider {
  width: 1px;
  height: 100%;
  background-color: var(--neutrals-20);
}
.header__buttons a {
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 700;
  display: block;
  transition: 0.5s linear;
  border: 1px solid transparent;
}

.buttons__login {
  color: #ffffff;
  background: var(--blue);
}

.buttons__registration:hover {
  background-color: var(--neutrals-20);
  border: 1px solid var(--neutrals-20);
}

.buttons__login:hover {
  background-color: var(--white-color);
  color: var(--blue);
  border: 1px solid var(--neutrals-20);
}
.mobile-menu__button {
  display: none;
  align-items: center;
  background: var(--white-color);
  border: 1px solid var(--neutrals-20);
  border-radius: 50%;
  height: 36px;
  justify-content: center;
  margin-left: auto;
  position: relative;
  transition: var(--transition);
  width: 36px;
  z-index: 999;
}
.mobile-menu__button .mobile-menu__button__icon-close-menu {
  display: none;
}
.mobile-menu__button:hover {
  background-color: var(--accents-blue);
}

/* *******************HERO*******************  */
/* *******************HERO*******************  */
/* *******************HERO*******************  */
/* *******************HERO*******************  */
/* *******************HERO*******************  */
.hero {
  position: relative;
  padding-top: 1px;
  background-color: var(--neutrals-10);
  overflow: hidden;
}
.hero::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 170px;
  height: 230px;
  background-image: url('./img/hero/hero-left.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.hero::after {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  display: block;
  width: 250px;
  background-image: url('./img/hero/hero-right.png');
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.8;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero__breadcrumbs {
  font-weight: 400;
  color: var(--neutrals-60);
  line-height: 160%;
  margin: 40px 0;
}
.hero__breadcrumbs strong {
  color: var(--neutrals-100);
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 73px;
}

.hero__details {
  display: flex;
  flex-direction: column;
}
.hero__header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.hero__title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: var(--neutrals-100);
  margin: 0;
}
.hero__trips {
  padding: 4px 12px;
  border: 1px solid var(--blue);
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--blue);
  line-height: 160%;
}
.hero__contacts {
  margin-bottom: 24px;
  display: flex;
  gap: 32px;
}
.hero__link {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--brands-primary);
}
.hero__link-logo {
  width: 24px;
  height: 24px;
}

.hero__features {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.feature {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feature__logo {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
}

.feature__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #515b6f;
  text-wrap: nowrap;
}
.feature__value {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #25324b;
  text-wrap: nowrap;
}
/* *******************COMPANY*******************  */
/* *******************COMPANY*******************  */
/* *******************COMPANY*******************  */
/* *******************COMPANY*******************  */
/* *******************COMPANY*******************  */
.company {
  margin: 72px 0;
}
.company__container {
  display: flex;
  gap: 64px;
}
.company__left {
}
.company__title {
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--neutrals-100);
}
.company__text {
  margin-bottom: 24px;
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-80);
}
.company__socials {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}
.company__social {
  border: 1px solid #4640de;
}
.social {
}
.social__link {
  display: flex;
  gap: 16px;
  padding: 8px;
  align-items: center;
  color: var(--brands-primary);
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.social__link:hover {
  color: var(--accent-hover-color);
}
.social__logo {
  width: 24px;
  height: 24px;
}
.company__images {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.company__bus {
  max-width: 100%;
}
.company__right {
  min-width: 350px;
  display: flex;
  flex-direction: column;
}
.company__countries {
}
.countries {
}
.countries__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.countries__item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.country__flag {
  width: 42px;
  height: 32px;
}
.country__name {
  font-family: 'Rubik', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-100);
}
.countries__show-all {
  margin: 8px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: fit-content;
  font-family: 'Rubik', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--brands-primary);
  transition: all 0.3s ease-in-out;
}
.countries__show-all:hover {
  color: var(--accents-blue);
}
.countries__show-all img {
  transition: all 0.3s ease-in-out;
}
.countries__show-all--active img {
  transform: rotate(-180deg);
}
.company__divider {
  height: 1px;
  background-color: var(--neutrals-20);
  margin-bottom: 64px;
}
.company__trips {
}

.calendar {
  padding: 24px 24px 24px 32px;
  background: var(--white-color);
  border: 1px solid var(--neutrals-20);
  box-shadow: var(--drop-shadow-40);
}

.calendar__buy-ticket {
  margin-bottom: 15px;
  border: 1px solid #ccccf5;
  background-color: transparent;
  padding: 12px 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: var(--brands-primary);
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  transition: all 0.3s ease-in-out;
}
.calendar__buy-ticket:hover {
  background-color: var(--accent-hover-color);
  color: var(--white-color);
}
.calendar__buy-ticket:hover img {
  filter: brightness(0) invert(1);
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.calendar__month-name {
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-100);
}
.calendar__month-buttons {
  display: flex;
  gap: 8px;
}
.calendar__month-button {
  width: 24px;
  height: 24px;
  background-color: var(--white-color);
  border: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.calendar__month-button:hover {
  border: 1px solid var(--blue);
}
.calendar__month-button:active {
  background-color: var(--accent-hover-color);
}
.calendar__month-button--prev {
  transform: rotate(90deg);
}
.calendar__month-button--next {
  transform: rotate(-90deg);
}
.calendar__grid {
  display: flex;
  flex-direction: column;
}
.calendar__days {
  display: flex;
  justify-content: space-around;
}
.calendar__days p {
  font-family: 'Rubik', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--neutrals-60);
}
.calendar__dates {
}
.calendar__dates p,
.calendar__days p {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__dates-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px;
}
.calendar__date {
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-80);
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.calendar__date:hover {
  background-color: var(--neutrals-40);
}
.calendar__date--inactive {
  color: var(--neutrals-20);
  cursor: no-drop;
}
.calendar__date--selected {
  background-color: var(--brands-primary);
  color: var(--white-color);
}
.calendar__date--inactive:hover {
  background-color: transparent;
}
.calendar__date--selected:hover {
  background-color: var(--brands-primary);
}

/* *******************DRIVERS*******************  */
/* *******************DRIVERS*******************  */
/* *******************DRIVERS*******************  */
/* *******************DRIVERS*******************  */
/* *******************DRIVERS*******************  */
.drivers {
  margin: 72px 0;
}
.container {
}
.drivers__container {
}
.drivers__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.drivers__title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--neutrals-100);
}
.drivers__showAll {
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease-in-out;
  color: var(--brands-primary);
}
.drivers__showAll:hover {
  color: var(--accents-blue);
}
.drivers__list {
  display: flex;
  gap: 16px;
}
.driver__item {
  border: 1px solid #d6ddeb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 5px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.driver__item:hover {
  box-shadow: var(--drop-shadow-40);
}
.driver__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}
.driver__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.driver__name {
  text-transform: capitalize;
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--neutrals-100);
}
.driver__exp {
  margin-bottom: 16px;
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-60);
  text-align: center;
}
.driver__socials {
  display: flex;
  gap: 8px;
}
.driver__social {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.driver__social:hover {
  background-color: var(--accents-blue);
}

/* *******************SERVICE*******************  */
/* *******************SERVICE*******************  */
/* *******************SERVICE*******************  */
/* *******************SERVICE*******************  */
/* *******************SERVICE*******************  */
.service {
  margin: 72px 0;
}
.container {
}
.service__container {
  border-top: 1px solid var(--neutrals-20);
}

.service__title {
  margin: 72px 0 8px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--neutrals-100);
}
.service__text {
  font-family: 'Rubik', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-80);
}
.service__list {
  margin-top: 24px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.service__item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.service__logo {
  width: 40px;
  height: 40px;
}
.service__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service__name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: var(--neutrals-100);
}

/* *******************reviews*******************  */
/* *******************reviews*******************  */
/* *******************reviews*******************  */
/* *******************reviews*******************  */
/* *******************reviews*******************  */
.reviews {
  position: relative;
  background-color: var(--neutrals-10);
  overflow: hidden;
}
.reviews::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100px;
  display: block;
  width: 300px;
  height: 140px;
  background-image: url('./img/reviews/top.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.reviews::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 530px;
  height: 276px;
  background-image: url('./img/reviews/bottom.png');
  background-repeat: no-repeat;
  background-position: bottom;
}
.reviews__triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 120px solid transparent;
  border-top: 50px solid var(--white-color);
}
.container {
}
.reviews__container {
  margin: 72px auto 45px;
  display: flex;
  gap: 32px;
}

.reviews__header {
  max-width: 422px;
}
.reviews__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  color: var(--neutrals-100);
}
.reviews__title span {
  color: var(--accents-blue);
}
.reviews__text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-100);
  margin: 22px 0 42px;
}
.reviews__addBtn {
  margin-bottom: 16px;
  background-color: #4640de;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  padding: 13px 28px;
  border: transparent;
  transition: background-color 0.3s ease-in-out;
}
.reviews__addBtn:hover {
  background-color: var(--accent-hover-color);
}
.reviews__addBtn:active {
  background-color: var(--accents-blue);
}

.reviews__list {
  padding-bottom: 50px;
}
.review {
  padding: 30px 20px 20px 20px;
  background: var(--white-color);
  box-shadow: 0px 4px 16px rgba(37, 50, 75, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.review__header {
  display: flex;
  gap: 22px;
  margin-bottom: 22px;
}
.review__avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}
.review__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review__author {
}
.review__author-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--neutrals-100);
}
.review__author-address {
  margin: 8px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--brands-primary);
}
.review__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--neutrals-60);
}
.review__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--neutrals-100);
  padding-bottom: 16px;
}
.review__stars {
  margin-top: auto;
  display: flex;
  gap: 3px;
}
.review__star {
}

.reviews__pagination {
  bottom: -20px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: var(--brands-primary);
}
/* *******************MEDIA*******************  */
/* *******************MEDIA*******************  */
/* *******************MEDIA*******************  */
/* *******************MEDIA*******************  */
/* *******************MEDIA*******************  */

@media (max-width: 1230px) {
  .hero__info {
    gap: 24px;
  }
  .hero__features {
    gap: 16px;
  }
  .feature {
    gap: 8px;
  }
  .feature__logo {
    width: 32px;
    height: 32px;
  }
  .review {
    padding: 20px 10px 10px 10px;
  }
  .reviews__container {
    gap: 16px;
  }
  .review__text {
    font-size: 15px;
  }
}

/* --- Responsive MENU Start --- */
@media (max-width: 1000px) {
  .mobile-menu__button {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav.active {
    padding-top: 20px;
    display: flex;
    position: fixed;
    inset: 0;
    flex-direction: column;
    z-index: 999;
    background-color: var(--white-color);
    top: 78px;
    justify-content: start;
  }
  .nav__list {
    height: auto;
    flex-direction: column;
  }
  .nav__link {
    min-height: 40px;
  }
  .header__buttons {
    margin-top: 40px;
    flex-direction: column;
    gap: 0;
  }
  .buttons__divider {
    display: none;
  }
  .buttons__registration {
    margin-bottom: 15px;
  }
  .header__buttons a {
    width: 100%;
    text-align: center;
  }
}
/* --- Responsive MENU End --- */
@media (max-width: 1000px) {
  .company__container {
    flex-direction: column;
    gap: 32px;
  }
  .company__right {
    flex-direction: row;
    justify-content: space-between;
  }
  .company__divider {
    display: none;
  }
  .drivers__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .driver__item {
    min-width: 220px;
    width: fit-content;
  }
  .service__list {
    justify-content: center;
  }
  .reviews__container {
    flex-direction: column;
  }
  .reviews__header {
    max-width: none;
  }
  .reviews__list {
    width: calc(100vw - 40px);
  }
  .review {
    height: auto;
  }
}
@media (max-width: 700px) {
  .hero__info {
    flex-direction: column;
  }
  .hero__header,
  .hero__contacts,
  .hero__features {
    justify-content: center;
  }
  .hero__contacts {
    gap: 10px;
    flex-wrap: wrap;
  }
  .hero__features {
    flex-direction: column;
  }
  .feature {
    justify-content: center;
  }
  .feature__logo,
  .feature__info {
    text-align: center;
  }
  .company {
    margin: 32px 0;
  }
  .company__right {
    flex-direction: column;
    gap: 16px;
  }
  .company__socials {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media (max-width: 475px) {
  .container {
    padding: 0 14px;
  }
  .company__container {
    gap: 16px;
  }
  .company__right {
    min-width: auto;
  }
  .countries__show-all {
    margin-bottom: 16px;
  }
  .calendar {
    padding: 16px 16px 16px 24px;
  }
  .drivers {
    margin: 32px 0;
  }
  .drivers__header {
    padding-top: 16px;
  }
  .service {
    margin: 32px 0;
  }
  .service__title {
    margin-top: 32px;
  }
  .service__list {
    flex-direction: column;
  }
}
