:root {
  --brands-primary: #4640de;
  --white-color: #fff;
  --accents-blue: #26a4ff;
  --neutrals-10: #f8f8fd;
  --neutrals-20: #d6ddeb;
  --neutrals-40: #a8adb7;
  --neutrals-60: #7c8493;
  --neutrals-80: #515b6f;
  --neutrals-100: #25324b;
  --accent-hover-color: #0d6efd;
  --blue: #4640de;
  --light-blue: #26a4ff;
  --gray: #515b6f;

  --bg-dark: #202430;

  --transition: all 0.3s ease-in-out;
  --drop-shadow-40: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
